/* Styling for main page: */
h1 {
    border-radius: 1px black;
    color: #e9567a;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf9e8;
    border-radius: 1px;
}

footer {
    text-align: center;
    margin: 40px;
}

/* Styling for form: */
.question {
    margin-bottom: 10px;
    padding: 10px;
}

.question-inline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
    font-size: small;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 48%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ea3f53;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7db2eb;
}

/* New styling for score display */
.scoreCircleStyle {
    width: 100px;
    height: 100px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 20px;
}

.scoreText {
    text-align: center;
}

.scoreIntroStyle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.scoreBoxIntroductionStyle {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.tableStyle {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.rowStyle {
    background-color: #f2f2f2;
}

.cellStyle {
    padding: 15px;
    border: 1px solid #ccc;
}

.cover {
  text-align: center;
  padding: 10px 0;
  color: #7db2eb;
}

.cover h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.cover p {
  font-size: 18px;
}

.cover h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.cover p {
  font-size: 18px;
}
.cover img {
  max-width: 100%;
  height: auto;
  width: 400px ;
  border-radius: 50%; 
  border: solid  #947695;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
p {
    color: black;
    text-align: left;
    border: 1px solid rgb(75, 71, 71);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 3px; 
}

/* Common styling for all containers */
.container {
  /* Add your shared styling here */
  
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #ffebeb;
  max-width: 600px;
    margin: 20px auto;
    color: black;
    text-align: left; 
    }

/* Specific styling for the cover section */
.cover {
  text-align: center;
  background-color: #fff;
  color: #72b4c3;
}

/* Styling for the last page */
.last-page {
  text-align: center;
  padding: 40px;
  background-color: #333;
  color: white;
}
